{
   "blockKey" : [
    {
      "value" : [255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },
    {
      "value" : [143, 143, 143],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },
    {
      "value" : [0, 0, 0],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },
    {
      "value" : [255, 215, 0],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "wr/nickit_boat",
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },
    {
      "value" : [0, 255, 0],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood",
      "flags" : [ "shipLockerPosition" ],
      "object" : "wr/nickit_boat_shiplocker",
      "objectParameters" : {
        "treasurePools" : [ "wr/nickit_boat_StarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : true
      },
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1

    },

    {
      "value" : [142, 255, 142],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood",
      "object" : "wr/nickit_boat_techstation",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },
    {
      "value" : [255, 90, 90],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "wr/nickit_boat_fuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },

    {
      "value" : [156, 0, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "logblock",
      "object" : "wr/nickit_boat_teleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },

    {
      "value" : [79, 0, 128],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "logblock",
      "object" : "wr/nickit_boat_teleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      },
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },

    {
      "value" : [0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "wr/nickit_boat_captainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },

    {
      "value" : [255, 255, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood",
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },

    {
      "value" : [255, 117, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "logblock",
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },

    {
      "value" : [255, 117, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "ornatewood",
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },

    {
      "value" : [234, 100, 231],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "ornatewood",
      "object" : "steampunklamp",
      "objectParameters" : {"color":"red"},
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },

    {
      "value" : [35, 72, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "woodenplatform",
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },

    {
      "value" : [37, 44, 79],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "woodenplatform",
      "backgroundMat" : "logblock",
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    },

    {
      "value" : [68, 78, 125],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "woodenplatform",
      "backgroundMat" : "ornatewood",
      "objectResidual" : true,
      "foregroundResidual" : true,
      "backgroundResidual" : true,
      "foregroundMatColor" : 1,
      "backgroundMatColor" : 1
    }
  ]
}
