{
   "blockKey" : [
    {
      "value" : [255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },
    {
      "value" : [143, 143, 143],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },
    {
      "value" : [0, 0, 0],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },
    {
      "value" : [255, 215, 0],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "wr/meowscarada_boat",
      "objectResidual" : true
    },
    {
      "value" : [0, 255, 0],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood",
      "flags" : [ "shipLockerPosition" ],
      "object" : "wr/meowscarada_boat_shiplocker",
      "objectParameters" : {
        "treasurePools" : [ "wr/meowscarada_boat_StarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : true
      }
    },

    {
      "value" : [142, 255, 142],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood",
      "object" : "wr/meowscarada_boat_techstation",
      "objectParameters" : {
        "unbreakable" : true
      }
    },


    {
      "value" : [255, 90, 90],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "wr/meowscarada_boat_fuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [255, 102, 0],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "wr/meowscarada_boat_shipdoor",
      "objectResidual" : true
    },

    {
      "value" : [156, 0, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "logblock",
      "object" : "wr/meowscarada_boat_teleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [79, 0, 128],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "logblock",
      "object" : "wr/meowscarada_boat_teleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "wr/meowscarada_boat_captainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 255, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "darkwood"
    },

    {
      "value" : [255, 117, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "logblock"
    },

    {
      "value" : [255, 117, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "ornatewood"
    },

    {
      "value" : [234, 100, 231],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "ornatewood",
      "object" : "steampunklamp"
    },

    {
      "value" : [35, 72, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "woodenplatform"
    },

    {
      "value" : [37, 44, 79],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "woodenplatform",
      "backgroundMat" : "logblock"
    },

    {
      "value" : [68, 78, 125],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "woodenplatform",
      "backgroundMat" : "ornatewood"
    }
  ]
}
